{% if tri is defined %}
<div class="tri">
    <label>
        <input type="radio" name="{{ name }}" value="0" checked>
        <span>{{ caption_on }}</span>
        <span>{{ caption_off }}</span>
    </label>
    <input type="radio" name="{{ name }}" value="1">
    <input type="radio" name="{{ name }}" value="2">
</div>
{% else %}
<label{% if caption_off is defined %} class="option"{% endif %}>
    <input type="checkbox" name="{{ name }}" checked>
    <span>{{ caption_on }}</span>
    {% if caption_off is defined %}
    <span>{{ caption_off }}</span>
    {% endif %}
</label>
{% endif %}
