{% if tri is defined %}
<div role="checkbox" tabindex="0" aria-checked="mixed">
    <label>
        <input type="radio" name="{{ name }}" value="0" checked>
        <span>{{ caption_on }}</span>
        <span>{{ caption_off }}</span>
    </label>
    <input type="radio" name="{{ name }}" value="1">
    <input type="radio" name="{{ name }}" value="2">
</div>
{% else %}
<label tabindex="0"{% if caption_off is defined or negative ?? false %} class="
    {{- caption_off ?? false ? 'option' }}{{ negative ?? false ? ' neg' -}}
    "{% endif -%}
>
    <input type="checkbox" class="switch" name="{{ name }}"{{ checked ?? true ? ' checked' }}>
    <span>{{ caption_on }}</span>
    {% if caption_off is defined %}
    <span>{{ caption_off }}</span>
    {% endif %}
</label>
{% endif %}
