<label{% if caption_off is defined %} class="{{ tri is defined ? 'tri' : 'option' }}"{% endif %}>
    {% if not tri is defined %}
        <input type="checkbox" name="{{ name }}" checked>
    {% else %}
        <input type="radio" name="{{ name }}" value="0" checked>
        <input type="radio" name="{{ name }}" value="1">
        <input type="radio" name="{{ name }}" value="2">
    {% endif %}
    <span>{{ caption_on }}</span>
    {% if caption_off is defined %}
    <span>{{ caption_off }}</span>
    {% endif %}
</label>
